<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.EmployeeDao" >
<resultMap type="" id=""></resultMap>
   <select id="query" parameterType="java.lang.Integer" resultType="entity.Employee">
   <![CDATA[select * from employee where ID= #{id}]]>
   </select>
    <select id="queryAll" resultType="entity.Employee">
   <![CDATA[select id,name,salary,to_char(hire_date,'yyyy-mm-dd') date1 from employee]]>
   </select>
   <delete id="delete" parameterType="java.lang.Integer">
   <![CDATA[delete from employee where ID=#{id}]]>
   </delete>
   <insert id="add" parameterType="entity.Employee">
  <![CDATA[ insert into employee values(#{id},#{name},#{salary},#{date})]]>
   </insert>
   <update id="update" >
   <![CDATA[ 
   update employee set name=#{0},salary=#{1},date=#{2} where id=#{3}
   ]]>
   </update>
</mapper>
