<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
  
   <environments default="d1">
      <environment id="d1">
         <transactionManager type="JDBC"></transactionManager>
         <dataSource type="POOLED">
           <property name="driver" value="oracle.jdbc.OracleDriver"></property>
           <property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:XE"></property>
           <property name="username" value="hr"></property>
           <property name="password" value="hr"/>
         </dataSource>
      </environment>
	  
   </environments>
   
   <mappers><mapper resource="dao/mapper.xml"></mapper></mappers>
   
</configuration>