<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AdminDao">
    <select id="queryone" resultType="com.baizhi.entity.Admin">
    SELECT  * FROM  admin WHERE  USERNAME=#{username} and PASSWORD=#{password}
</select>

    <insert id="add" parameterType="com.baizhi.entity.Admin">
    INSERT  INTO  admin(USERNAME,PASSWORD) VALUES (#{username},#{password})
</insert>
</mapper>
